<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyline.route.mapper.ConnectionMapper">

    <insert id="setConnection" parameterType="com.skyline.route.router.ConnectionTable">
        INSERT INTO routing.connection (source, destination, cost)
        VALUES (#{source}, #{destination}, #{cost})
    </insert>

    <select id="getConnection" parameterType="int" resultType="com.skyline.route.router.ConnectionTable">
        SELECT *
        FROM routing.connection
        WHERE source = #{sourceId}
    </select>

    <select id="getAll" resultType="com.skyline.route.router.ConnectionTable">
        SELECT *
        FROM routing.connection
    </select>
</mapper>